
html, body {
  height: 100%;
  margin: 0;
}

.zona {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.zona img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.zona img.active {
  opacity: 1;
}

.etiqueta-vertical {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
}
